:root {
  --headline: #FFFFFE;
  --button: #EEBBC3;
  --buttonText: #232946;
  --paragraph: #B8C1EC;
  --main: #232946;
  --bgNum1: #D4D8F0;
  --stroke-border: #121629;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}